body{
    background-color: black;
    font-family: Architects Daughter;
    }
h1{
    color:white;
    font-family: Architects Daughter;
    }
h2{
    color:white;
    font-family: Architects Daughter;
    }
h3{
    color:white;
    font-family: Architects Daughter;
    }
h4{
    color:white;
    font-family: Architects Daughter;
    }
li{
    color: white;
    font-family: Architects Daughter;
    }
a{
    color:white;
    font-family: Architects Daughter;
    }
